<div class="card card-body p-5 mt-4">
  <h1 class="display-4">Tu Doctor Online</h1>
  <p class="lead"></p>
  <hr class="my-4" />
  <p>
  </p>
  <div>
    <a
      class="btn btn-primary btn-lg"
      href="/auth/signup"
      role="button"
    >Registrate</a>
  </div>
</div>